# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Results and Output logs
results/models
archive/
sweep_log.txt
sweep_log_expanded.txt

references/study

# OS Files
.DS_Store

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/
